
/* universal selector - reset to default values css attributes */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "sans-serif", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    /*padding: 1rem;*/
    box-sizing: border-box;
}

.header {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(
            rgba(62, 59, 68, 0.8),
            rgba(135, 152, 155, 0.8));
    background-size: cover; /* responsively fully cover the box */
    background-position: top;
}

.logo-icon-box {
    padding: 1rem;
    margin: 1rem;

}

.logo {
    text-align: center;
    padding: 3rem;
    margin: 3rem;
    animation: moveInTop 2s ease-out;
}

.icon {
    text-align: center;
    padding: 3rem;
    margin: 3rem;
    animation: moveInBottom 1s ease-out;
}


@keyframes moveInBottom {
    0% {
        opacity: 0%;
        transform: translateY(6.5rem);
    }

    100% {
        opacity: 100%;
        transform: translateY(0rem);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0%;
        transform: translateY(-6.5rem);
    }

    100% {
        opacity: 100%;
        transform: translateY(0rem);
    }
}
