
.movie_title {
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
    letter-spacing: 0.15rem;
}


.shadow {
    -webkit-filter: drop-shadow(0 1rem 0.5rem rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1rem 0.5rem rgba(0, 0, 0, 0.2));
}
