.header {
    text-align: center;
    position: relative;
    margin: 3rem;
    z-index: 4;
}

.header__title {
    height: 10rem;
}


.shadow {
    -webkit-filter: drop-shadow(0 1rem 0.5rem rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1rem 0.5rem rgba(0, 0, 0, 0.2));
}
