
/* universal selector - reset to default values css attributes */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "sans-serif", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: rgba(0, 0, 0, 0.96);
    /*padding: 1rem;*/
    box-sizing: border-box;
}

.main {
    position: relative;
    height: 100%;
    /*background-image: linear-gradient(*/
    /*        rgb(255, 255, 255),*/
    /*        rgb(135, 206, 250));*/
    /*background-size: cover; !* responsively fully cover the box *!*/
    /*padding: 1rem;*/
}

.header {
    text-align: center;
    position: relative;
    margin: 3rem;
}

.header__title {
    height: 10rem;
}


.header__title--shadow {
    -webkit-filter: drop-shadow(0 1.2rem 0.5rem rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1.2rem 0.5rem rgba(0, 0, 0, 0.2));
}


.trailer {
    position: relative;
    overflow: hidden;
    height: 50vh;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
}

.trailer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.btns-box {
    text-align: center;
}

.btn,
.btn:link,
.btn:visited
{
    display: inline-block;
    position: relative;
    transition: all 0.2s;
    padding: 2rem;
}

.btn:hover {
    transform: translateY(-0.3rem);
    /*box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);*/
}

.btn__svg {
    height: 7rem;
    position: relative;
}

.btn__like {
    left: 30rem
}

.btn__share {
    right: 30rem;
}


.btn__shadow {
    -webkit-filter: drop-shadow(0 1.2rem 0.5rem rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1.2rem 0.5rem rgba(0, 0, 0, 0.2));
    transition: all 0.2s;
}

.btn__shadow:hover {
    -webkit-filter: drop-shadow(0 1.4rem 0.5rem rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1.4rem 0.5rem rgba(0, 0, 0, 0.2));
    transition: all 0.2s;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
