.Movie {
    font-family: Futura;
}

.h2 {
    padding-top: 1vw;
    font-size: 3vw;
    font-weight: bold;
}

.h3 {
    font-size: 2vw;
    font-weight: bold;
}

.span {

    font-size: 20px;
    font-weight: bold;
} 

.article {
    font-size: 20px;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-bottom: 5vw;
    box-sizing: border-box;
}
