.Movie {
    font-family: Futura;
}

.h2 {
    /* align-content: normal; */
    font-size: 3vw;
    font-weight: bold;
}

.h3 {
    /* align-content: normal; */
    font-size: 2vw;
    font-weight: bold;
}

.span {
    
    font-size: 20px;
    font-weight: bold;
} 

.article {
    /* align-content: normal; */
    font-size: 20px;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-bottom: 5vw;
    box-sizing: border-box;
}
