.form {
    margin:  auto;
    padding: 1vw 1vw 0;
    font-size: 1vw;
}

@media (min-width: 10vw) {
    .form {
        max-width: 60%;
        font-size: 1vw;
    }
}

.input-range {
    margin-bottom: 6vw;
    font-size: 1vw;
}

.p {
    font-size: 1.5vw;
    padding: 0.2vw;
    font-weight: bold;
}