.form {
    margin:  auto;
    padding: 1vw 1vw 0;
    font-size: small;
    /*font-weight: bold;*/
}

@media (min-width: 10vw) {
    .form {
        max-width: 60%;
        font-size: small;
    }
}

.input-range {
    margin-bottom: 6vw;
    font-size: small;
}
